#Python Tutorial

Adapted by [Volodymyr Kuleshov](http://web.stanford.edu/~kuleshov/) and [Isaac Caswell](https://symsys.stanford.edu/viewing/symsysaffiliate/21335) from the `CS231n` Python tutorial by Justin Johnson (http://cs231n.github.io/python-numpy-tutorial/).

Latest modifications by [Kekayan Nanthakumar](https://kekayan.github.io/) and [Savindi Wijenayaka](https://phantomgrin.github.io/)

##Introduction

Python is a great general-purpose programming language on its own, but with the help of a few popular libraries (numpy, scipy, matplotlib) it becomes a powerful environment for scientific computing.

We expect that many of you will have some experience with Python and numpy; for the rest of you, this section will serve as a quick crash course both on the Python programming language and on the use of Python for scientific computing.

In this tutorial, we will cover:

* Basic Python: Basic data types (Containers, Lists, Dictionaries, Sets, Tuples), Functions, Classes
* IPython: Creating notebooks, Typical workflows

What you will do:
* Theory + Questions
* Small project

**IMPORTANT : This is not ALL about python.** This is a quick guide

## Notebook

* Runtimes
* Markdown and Code cells
* Settings
* Mount drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
!ls

drive  sample_data

##Basics of Python

Python is a high-level, dynamically typed multiparadigm programming language. Python code is often said to be almost like pseudocode, since it allows you to express very powerful ideas in very few lines of code while being very readable. As an example, here is an implementation of the classic quicksort algorithm in Python:

In [ ]:
def quicksort(arr):
    if len(arr) <= 1:
        return arr
    pivot = arr[len(arr) // 2]
    left = [x for x in arr if x < pivot]
    middle = [x for x in arr if x == pivot]
    right = [x for x in arr if x > pivot]
    return quicksort(left) + middle + quicksort(right)

print(quicksort([3,6,8,10,1,2,1]))

[1, 1, 2, 3, 6, 8, 10]

###Python versions

There are currently two different  versions of Python, 2.7 and 3.X. 
Python 3.0 introduced many backwards-incompatible changes to the language, so code written for 2.7 may not work under 3.X and vice versa. 
For this class all code will use Python 3.x.

You can check your Python version at the command line by running `python --version`.

In [ ]:
! python --version

Python 3.6.9

**DON'T use python 2.7. It will cease operation at the end of 2020**

###Basic data types

### Variables

variable is a (human readable) name that is used to uniquely identify a value.

In [ ]:
[1, 2, 3, 4, 5]

# If we use an array like above without a name to it, we cannot grab that array later in the code
# This is just like we as humans have name to call ourself

[1, 2, 3, 4, 5]

In Python, unlike statically typed languages like C or Java, there is no need to specifically declare the data type of the variable. In dynamically-typed (or Untyped) languages (A language is dynamically-typed if the type of a variable is checked during run-time) such as Python, the interpreter itself predicts the data type of the Python Variable based on the type of value assigned to that variable. Meaning that it does not make you define the type of a variable

####Numbers

Integers and floats work as you would expect from other languages:

In [ ]:
x = 3
print (x) 
type(x) # Check the dtype of a variable in python

3

int

In [ ]:
print (x + 1)   # Addition;
print (x - 1)   # Subtraction;
print (x * 2)   # Multiplication;
print (x ** 2)  # Exponentiation;

4
2
6
9

In [ ]:
x += 1     # x = x + 1
print (x)  # Prints "4"
x *= 2     # x = x * 2         x -= 3 ---> x = x - 3
print (x)  # Prints "8"

4
8

In [ ]:
y = 2.5
print (type(y)) # Prints "<type 'float'>"
print (y, y + 1, y * 2, y ** 2) # Prints "2.5 3.5 5.0 6.25"

<class 'float'>
2.5 3.5 5.0 6.25

Note that unlike many languages, **Python does not have unary increment (x++) or decrement (x--) operators.**

Python also has built-in types for long integers and complex numbers; you can find all of the details in the [documentation](https://docs.python.org/2/library/stdtypes.html#numeric-types-int-float-long-complex).

####Booleans

Python implements all of the usual operators for Boolean logic, but uses English words rather than symbols (`&&`, `||`, etc.):

In [ ]:
t, f = True, False
type(t) # Prints "<class 'bool'>"

bool

![Truth Table](https://static-resources.imageservice.cloud/1995313/ttl-logic-gates-digital-circuits-worksheets.png)

Now we let's look at the operations:

In [ ]:
print (t and f) # Logical AND; Can use & too
print (t or f)  # Logical OR;  Can use | too
print (not t )  # Logical NOT;
print (t != f)  # Logical XOR;

False
True
False
True

####Strings

Strings are usually created in one of three ways. You can use single, double or triple quotes.

In [ ]:
h = 'hello'   # String literals can use single quotes
w = "world"   # or double quotes; it does not matter. But... be consistant!!
a_long_string = '''This is a
multi-line string. It covers more than
one line'''

In [ ]:
print (h, len(h), h[3])

hello 5 l

There’s actually one other way to create a string and that is by using the str method

In [ ]:
my_number = 123
my_string = str(my_number)

print(my_number, type(my_number))
print(my_string, type(my_string))

123 <class 'int'>
123 <class 'str'>

This is known as casting

Strings are Character Arrays. (FYI array indexing start from Zero as usual)

![String indexing example](https://media.geeksforgeeks.org/wp-content/cdn-uploads/20200204160843/strings.jpg)

In [ ]:
my_string = "abc"
my_string[0]

'a'

A string is one of Python immutable types, similar to Java (Immutable means you can't change it)

In [ ]:
my_string[0] = "d"
#see error

TypeError: ignored

In [ ]:
my_string = "abc"
print(id(my_string))

my_string = "def"
print(id(my_string))

my_string = my_string + "ghi"
print(id(my_string))

140632958720744
140632957849928
140632382871904

By checking the id of the object, we can determine that any time we assign a new value to the variable, its identity changes

In [ ]:
my_string = "I like Python!"
print(my_string[0:1])

I

![alt text](https://drive.google.com/uc?id=1UumESzHn2eaAVfIBDFHCsypxj3sfqICJ)

**Question**

* Print I only
* Print ! only
* Print Python only
* Print like only
* Print I like Python (without ! mark)
* Print all I like python! (with using slicing mark)



---



---

In [ ]:
h = 'Hello'
w = 'World'

hw = h + ' ' + w  # String concatenation
print (hw)  # prints "hello world"

Hello World

In [ ]:
# Concatinate using join method
myList = ["Hello", "World"]
mySeparator = " "

x = mySeparator.join(myList)

print(x)

# Can be used with Lists, Tupples, Dictionaries etc

Hello World

In [ ]:
# Splitting a String into list
txt = "welcome to the jungle"
txt2 = "apple#banana#cherry#orange"
x = txt.split()
x2 = txt2.split("#")
print(x)
print(x2)

['welcome', 'to', 'the', 'jungle']
['apple', 'banana', 'cherry', 'orange']

There are 3 string formatting ways

* printf style string formatting
* string formatting using format method
* format using f

In [ ]:
# printf style string formatting

hw12 = '%s %s %d' % (h, w, 12)
hw13 = '%s %s %.2f' % (h, w, 12)  
print (hw12)  # prints "hello world 12"
print (hw13)  # prints  hello world 12.00

Hello World 12
Hello World 12.00

In [ ]:
#  string formatting using format method

hw12 = '{} Phantom {} {}'.format(h, w, 12) 
print (hw12)  # prints "hello world 12"

Hello Phantom World 12

In [ ]:
# fromat using f

print(f'{h} Phantom {w} {12:.2f}')

Hello Phantom World 12.00

String objects have a bunch of useful methods; for example:

In [ ]:
s = "hello"
print (s.capitalize())  # Capitalize a string; prints "Hello"
print (s.upper() )      # Convert a string to uppercase; prints "HELLO"
print (s.rjust(7))      # Right-justify a string, padding with spaces; prints "  hello"
print (s.center(7))     # Center a string, padding with spaces; prints " hello "
print (s.replace('l', '(ell)'))  # Replace all instances of one substring with another;
                               # prints "he(ell)(ell)o"
print ('  world '.strip())  # Strip leading and trailing whitespace; prints "world"

Hello
HELLO
  hello
 hello
he(ell)(ell)o
world

You can find a list of all string methods in the [documentation](https://docs.python.org/2/library/stdtypes.html#string-methods).

###Containers

Python includes several built-in container types: lists, dictionaries, sets, and tuples.

####Lists

A list is the Python equivalent of an array, but is resizeable and can contain elements of different types:

In [ ]:
# Create a list
my_list = []
my_list = list()

**Question**

* Create list with elements 2, 3, 1, 4. Print 4. Assign the list to variable named xs

* Can we change 4 to 'foo'? Yes/No. Reason?

In [ ]:
xs = [2, 3, 1, 4]
print(xs[3])
xs[3]='foo'
print(xs)

4
[2, 3, 1, 'foo']

Add a new element to the end of the list

In [ ]:
xs.append('bar') 
print (xs)

[2, 3, 1, 'foo', 'bar']

In [ ]:
xs = xs + ['foobar']
print(xs)

[2, 3, 1, 'foo', 'bar', 'foobar']

Removing items from list

In [ ]:
x = xs.pop()
print (x, xs)  
x = xs.pop(3)     
print (x, xs)

foobar [2, 3, 1, 'foo', 'bar']
foo [2, 3, 1, 'bar']

Extending Lists

In [ ]:
one_list = [4, 5]
xs.extend(one_list)
print(xs) # [2, 3, 1, 'bar', 4, 5]

[2, 3, 1, 'bar', 4, 5]

In [ ]:
x = xs + one_list # Similar to string concatination, we can do it on lists
print(x)

[2, 3, 1, 'bar', 4, 5, 4, 5]

In [ ]:
ele = 'foobar'
print(ele in xs)
print('bar' in xs)

False
True

In [ ]:
x.remove(4) #Removes first occurance only
print(x)

[2, 3, 1, 'bar', 5, 4, 5]

In [ ]:
x.reverse()
print(x)

[5, 4, 5, 'bar', 1, 3, 2]

In [ ]:
x.sort() #We can't sort when different types are in the list
print(x)

TypeError: ignored

In [ ]:
x.remove('bar') #Remove 'bar'
print(x)

x.sort()
print(x)

[4, 5, 5, 1, 3, 2]
[1, 2, 3, 4, 5, 5]

As usual, you can find all the gory details about lists in the [documentation](https://docs.python.org/2/tutorial/datastructures.html#more-on-lists).

####Slicing

In addition to accessing list elements one at a time, Python provides concise syntax to access sublists; this is known as slicing:

Question

In [ ]:
nums = list(range(5))     # range is a built-in function that creates a list of integers
print(nums)               # Prints "[0, 1, 2, 3, 4]"
print(nums[2:4])          # Get a slice from index 2 to 4 (exclusive); prints "[2, 3]"
print(nums[2:])           # Get a slice from index 2 to the end; prints "[2, 3, 4]"
print(nums[:2])           # Get a slice from the start to index 2 (exclusive); prints "[0, 1]"
print(nums[:])            # Get a slice of the whole list; prints "[0, 1, 2, 3, 4]"
print(nums[:-5])          # Slice indices can be negative; prints "[0, 1, 2, 3]"
nums[2:4] = [8, 9]        # Assign a new sublist to a slice
print(nums)               # Prints "[0, 1, 8, 9, 4]"

[0, 1, 2, 3, 4]
[2, 3]
[2, 3, 4]
[0, 1]
[0, 1, 2, 3, 4]
[]
[0, 1, 8, 9, 4]

####Loops

What if you are asked to print your name 5 times? will you type same thing 5 times? what if it is 100 times instead of 5 times?

In [ ]:
for i in range(5): #The range function will create a list that is n in length
  print('Phantom')

Phantom
Phantom
Phantom
Phantom
Phantom

In [ ]:
for i in range(1, 11, 2):  ### arg1=start(inclusie), arg2=end(exclusive), arg3=increment
  print(i)

1
3
5
7
9

In [ ]:
print(range(5,10))  # range(5, 10)
print(list(range(1, 10, 2)))  # [1, 3, 5, 7, 9]

range(5, 10)
[1, 3, 5, 7, 9]

You can loop over the elements of a list like this:

In [ ]:
animals = ['cat', 'dog', 'monkey']
for animal in animals:
    print (animal)

cat
dog
monkey

If you want access to the index of each element within the body of a loop, use the built-in `enumerate` function:

In [ ]:
animals = ['cat', 'dog', 'monkey']
for idx, animal in enumerate(animals):
    print ('#%d: %s' % (idx + 1, animal))

#1: cat
#2: dog
#3: monkey

####List comprehensions:

When programming, frequently we want to transform one type of data into another. As a simple example, consider the following code that computes square numbers:

In [ ]:
x=[]
for i in range(5):
  x.append(i)
print(x)

[0, 1, 2, 3, 4]

In [ ]:
x = [i for i in range(5)]
print(x)

[0, 1, 2, 3, 4]

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = []
for x in nums:
    squares.append(x ** 2)
print (squares)

[0, 1, 4, 9, 16]

Question

Make this code simpler using a list comprehension:

List comprehensions can also contain conditions:

In [ ]:
# can you modify above function to print only even squares
nums = [0, 1, 2, 3, 4]
even_squares = [x ** 2 for x in nums if x % 2 == 0]
print (even_squares)

####Dictionaries

A dictionary stores (key, value) pairs, similar to a `Map` in Java or an object in Javascript. You can use it like this:

In [ ]:
d = {'cat': 'cute', 'dog': 'furry'}  # Create a new dictionary with some data
print( d['cat'])       # Get an entry from a dictionary; prints "cute"
print ('cat' in d )    # Check if a dictionary has a given key; prints "True"

cute
True

In [ ]:
d['fish'] = 'wet'    # Set an entry in a dictionary
print( d['fish'] )     # Prints "wet"

wet

In [ ]:
print (d['monkey'])  # KeyError: 'monkey' not a key of d

KeyError: ignored

In [ ]:
print (d.get('monkey'))         # Get an element with a default; prints "None" as "monkey" doesn't exist and we didn't define a default
print (d.get('fish', 'N/A'))    # Get an element with a default; prints "wet" as "fish" exist
print (d.get('swan', 'N/A'))    # Get an element with a default; prints "N/A" as "swan" doesn't exist and we defined "N/A" as default

None
wet
N/A

In [ ]:
del d['fish']                     # Remove an element from a dictionary
print (d.get('fish', 'N/A'))      # "fish" is no longer a key; prints "N/A"

N/A

In [ ]:
#items()
print(d.items())

dict_items([('cat', 'cute'), ('dog', 'furry')])

In [ ]:
# keys()
a_dict = {1:"one", 3:"three", 2:"two"}
keys = a_dict.keys() 
keys = sorted(keys)
for key in keys:
  print(key)
print("#########################")
for key in a_dict:
  print(key)

1
2
3
#########################
1
3
2

In [ ]:
a_dict = {1:"one", 3:"three", 2:"two"}

b_dict = a_dict.copy()
print(b_dict)

{1: 'one', 3: 'three', 2: 'two'}

Dictionary comprehensions: These are similar to list comprehensions, but allow you to easily construct dictionaries. For example:

In [ ]:
nums = [0, 1, 2, 3, 4]
even_num_to_square = {x: x ** 2 for x in nums if x % 2 == 0}
print (even_num_to_square)

{0: 0, 2: 4, 4: 16}

In [ ]:
a = dict(one=1, two=2, three=3)
b = {'one': 1, 'two': 2, 'three': 3}
c = dict(zip(['one', 'two', 'three'], [1, 2, 3]))
d = dict([('two', 2), ('one', 1), ('three', 3)])
print (d)
e = dict({'three': 3, 'one': 1, 'two': 2})
print (e)

{'two': 2, 'one': 1, 'three': 3}
{'three': 3, 'one': 1, 'two': 2}

**Question** 

can you write a program to swap dictionary keys with values ? Try later

You can find all you need to know about dictionaries in the [documentation](https://docs.python.org/2/library/stdtypes.html#dict).

It is easy to iterate over the keys in a dictionary:

In [ ]:
d = {'person': 2, 'cat': 4, 'spider': 8}
for animal in d:
    legs = d[animal]
    print (f'A {animal} has {legs} legs')

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

####Sets

A set is an unordered collection of distinct elements. As a simple example, consider the following:

In [ ]:
animals = {'cat', 'dog'}
print('cat' in animals)   # Check if an element is in a set; prints "True"
print('fish' in animals)  # prints "False"

True
False

In [ ]:
animals.add('fish')       # Add an element to a set
print('fish' in animals)  # Prints "True"
print(len(animals))       # Number of elements in a set; prints "3"

True
3

In [ ]:
animals.add('fish')       # Add an element to a set
print('fish' in animals)  # Prints "True"
print(len(animals))       # Number of elements in a set; prints "3"

True
3

In [ ]:
animals.add('cat')        # Adding an element that is already in the set does nothing
print(len(animals))       # Prints "3"
animals.remove('cat')     # Remove an element from a set
print(len(animals))       # Prints "2"

3
2

_Loops_: Iterating over a set has the same syntax as iterating over a list; however since sets are unordered, you cannot make assumptions about the order in which you visit the elements of the set:

In [ ]:
animals = {'cat', 'dog', 'fish'}
for idx, animal in enumerate(animals):
    print ('#%d: %s' % (idx + 1, animal))
# Prints ("#1: fish", "#2: dog", "#3: cat")

#1: cat
#2: fish
#3: dog

Set comprehensions: Like lists and dictionaries, we can easily construct sets using set comprehensions:

In [ ]:
from math import sqrt
nums = {int(sqrt(x)) for x in range(30)}
print(nums)  # Prints "{0, 1, 2, 3, 4, 5}"

{0, 1, 2, 3, 4, 5}

####Tuples

A tuple is an (immutable) ordered list of values. A tuple is in many ways similar to a list; one of the most important differences is that tuples can be used as keys in dictionaries and as elements of sets, while lists cannot. Here is a trivial example:

In [ ]:
another_tuple = tuple()
t = (5, 6)

In [ ]:
d = {(x, x + 1): x for x in range(10)}  # Create a dictionary with tuple keys
t = (5, 6)        # Create a tuple
print(type(t))    # Prints "<class 'tuple'>"
print(d)          # {(0, 1): 0, (1, 2): 1, (2, 3): 2, (3, 4): 3, (4, 5): 4, (5, 6): 5, (6, 7): 6, (7, 8): 7, (8, 9): 8, (9, 10): 9}
print(d[t])       # Prints "5"
print(d[(1, 2)])  # Prints "1"

<class 'tuple'>
{(0, 1): 0, (1, 2): 1, (2, 3): 2, (3, 4): 3, (4, 5): 4, (5, 6): 5, (6, 7): 6, (7, 8): 7, (8, 9): 8, (9, 10): 9}
5
1

In [ ]:
t[0] = 1 #immutable

TypeError: ignored

In [ ]:
#cast to list
abc = tuple([1, 2, 3])
abc_list = list(abc)
print(abc_list)

[1, 2, 3]

##### IF

In [ ]:
value = input("How much is that book? ") # input function used to take user input
value = int(value)

if value < 10:
    print("That's a great deal!")
elif 10 <= value <= 20:
    print("I'd still pay that...")
else:
    print("Wow! That's too much!")

How much is that book? 100
Wow! That's too much!

###Functions

Python functions are defined using the `def` keyword. For example:

In [ ]:
def sign(x):
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'

for x in [-1, 0, 1]:
    print(sign(x))
# Prints "negative", "zero", "positive"

negative
zero
positive

We will often define functions to take optional keyword arguments, like this:

In [ ]:
def hello(name, loud=False):
    if loud:
        print('HELLO, %s!' % name.upper())
    else:
        print('Hello, %s' % name)

hello('Bob') # Prints "Hello, Bob"
hello('Fred', loud=True)  # Prints "HELLO, FRED!"

Hello, Bob
HELLO, FRED!

An Empty Function

In [ ]:
def empty_function():
    pass

args and kwargs
To get infinite arguments,
*  use *args and for infinite keyword arguments, 
* use **kwargs.

In [ ]:
def many(*args, **kwargs):
    print(args)
    print(type(args))
    print(kwargs)

many(1, 2, 3, name="Mad", job="programmer")

(1, 2, 3)
<class 'tuple'>
{'name': 'Mad', 'job': 'programmer'}

You could have called them * apple and ** orange and it would work the same way. The key here is in the number of asterisks.

### Lambda statement in Python

In [ ]:
import math

def sqroot(x):
    """
    Finds the square root of the number passed in
    """
    return math.sqrt(x)

square_rt = lambda x: math.sqrt(x)

In [ ]:
print(sqroot(49))
#7.0

print(square_rt(64))
#8.0

7.0
8.0

###Classes

The syntax for defining classes in Python is straightforward:

### Super Class

In [ ]:
class Greeter(object):

    # Similar to Constructor
    def __init__(self, name):
        self.name = name  # Create an instance variable

    # Instance method
    def greet(self, loud=False):
        if loud:
            print('HELLO, %s!' % self.name.upper())
        else:
            print('Hello, %s' % self.name)

g = Greeter('Fred')  # Construct an instance of the Greeter class
g.greet()            # Call an instance method; prints "Hello, Fred"
g.greet(loud=True)   # Call an instance method; prints "HELLO, FRED!"

Hello, Fred
HELLO, FRED!

### Child Class

In [ ]:
class NewYearGreeter(Greeter):
    """
    The NewYearGreeter class
    """

    def greet(self, loud=False):
        """
          Override greet method
        """
        if loud:
            print('HAPPY NEW YEAR , %s!' % self.name.upper())
        else:
            print('Happy new year, %s' % self.name)

In [ ]:
g = NewYearGreeter('Fred')  # Construct an instance of the Greeter class
g.greet()            # Call an instance method; prints "Hello, Fred"
g.greet(loud=True)   # Call an instance method; prints "HELLO, FRED!"

Happy new year, Fred
HAPPY NEW YEAR , FRED!